parser: babel-eslint
env:
  browser: true
  node: true

# Set to false to disallow override
globals:
  chrome: false
  $: false
  R: false
  EventBus: false
  __: false

rules:
  eqeqeq:
    - 2
    - smart

  quotes:
    - 2
    - single
    - avoid-escape

  no-underscore-dangle: 0
  brace-style: 2
  consistent-return: 0
  curly: 2
  radix: 2
  no-warning-comments: 1
  eol-last: 0
  indent:
    - 2
    - tab

  strict: 0

  # ES6 Rules
  no-lone-blocks: 0
  no-this-before-super: 2
  constructor-super: 2
